.clubMark {
  color: $colorGrey;

  max-width: 160px;

  > div {
    margin: 10px;
    display: flex;
    border-right: 1px solid $colorGrey;
  }

  &:last-of-type > div {
    border-right: none;
  }

  img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}
